<launch>
	<include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch" />

	<node name="left_arm_server" pkg="huroco_left_arm" type="left_arm_server" respawn="false" output="screen">
		<rosparam command="load" file="$(find huroco_left_arm)/config/arm_config.yaml" />
	</node>

</launch>